* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
ul {
	list-style-type: none;
}

.title {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 20px;
}

.cart {
	margin: 40px 0 40px 0;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f9f9f9;
	width: 1120px;
}
.cart__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.cart__item {
	display: flex;
	justify-content: space-between;
	border: 1px solid #ccc;
	border-radius: 5px;
	align-items: center;
	gap: 10px;
	padding: 20px;
}
.cart__item img {
	max-height: 50px;
}
.cart__btn span {
	font-size: 50px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.5s ease;
}
.cart__btn_minus {
	height: 4px;
	width: 20px;
	background: black;
	align-self: center;
}

.cart__btn {
	display: flex;
	gap: 30px;
}

.cart__id {
	width: 10%;
	text-align: center;
}
.cart__btn_plus:hover {
	color: red;
}
.cart__btn_minus:hover {
	background: red;
}

.cart__btn_plus:active {
	color: black;
}
.cart__btn_minus:active {
	background: black;
}
/* продукты */
.card,
.card__info {
	display: flex;
	flex-direction: column;
	max-width: 360px;
	background: #f8f8f8;
	transition: all 0.5s ease;
	cursor: pointer;
}
.card {
	position: relative;
}
.box__cards {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
	width: 1120px;
}

.card__info {
	display: flex;
	flex-direction: column;
	max-width: 360px;
	background: #f8f8f8;
	cursor: pointer;
	transition: all 0.5s ease;
}
.card:hover {
	transform: scale(1.01);
}
.card:active {
	transform: none;
}
.card__info {
	padding: 15px;
	gap: 10px;
}
.card__title {
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
}
.card__txt {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #5d5d5d;
}
.card__price {
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	color: #f16d7f;
}
.card__id {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	color: #f16d7f;
}
