<div class="container">
	<h1 class="slider__title">Фотогалерея</h1>
	<ul class="slider__list">
		{{#each arrayData}}
		<li data_id_item = "{{this.id}}" class="slider__item {{#if this.flag}} _active {{/if}}">
			<img src="img/{{this.file}}" alt="image" class="slider__img" />
			<p class="slider__text">{{this.text}}</p>
		</li>
		{{/each}}
		<div class="slider__arrow">
			<span class="slider__arrow_left"></span>
			<span class="slider__arrow_right"></span>
		</div>
	</ul>
	<div class="slider__points">
		{{#each arrayData}}
		<span data_id_item="{{this.id}}" class="slider__point 			{{#if this.flag}} _big {{/if}}"></span>
		{{/each}}
	</div>
</div>