<div class="order__container">
			<form action="#" class="order__form">
				<h2 class="order__title">Заказ блюдо</h2>
				<input class="order__form_client" type="text" placeholder="Клиент" />
				<div class="order__check">
					<div class="add__dish">
						<h3 class="order__check">Добавить блюдо</h3>
						<button class="add__dish_btn btn _small _plus"></button>
					</div>
					<div class="check__body">
						<button class="remove__dish_btn btn _small _minus"></button>
						<div class="check__body_dish">
							<select name="category__dishes">
								<option value="">Выберите блюдо</option>
								<option value="Pizza">Pizza</option>
								<option value="Sushi">Sushi</option>
								<option value="Dessert">Dessert</option>
							</select>
							<select name="category__dishes_vid">
								{{!-- <option value="Margarita">Маргарита</option>
								<option value="Pepperoni">Пепперони</option> --}}
							</select>
						</div>
						<button type="button" class="count__dish_btn btn _small _plus"></button>
						<input class="count__dish_txt" type="text" value="1" />
						<button type="button" class="count__dish_btn btn _small _minus"></button>
					</div>
					
				</div>
				<div class="order__btn">
					<button class="btn _big" type="submit">Заказать</button>
					<button class="btn _big" type="reset">Очистить заказ</button>
				</div>
			</form>
		</div>