* {
	margin: 0;
	padding: 0;
}
.order__container {
	width: 1024px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	display: flex;
	justify-content: center;
}
.order__form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 800px;
	text-align: center;
	position: relative;
}
.order__title {
	font-size: 24px;
	font-weight: 700;
}
.order__form_client::placeholder {
	color: rgba(155, 154, 154, 0.539);
}
.order__form_client {
	padding: 2px 5px;
	border: none;
}

.order__check {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.add__dish {
	display: flex;
	gap: 20px;
	justify-content: center;
}
.check__body {
	display: flex;
	justify-content: space-between;
	gap: 7px;
}
.btn {
	background: #f69515;
	font-weight: 600;
	border: #f69515;
	border-radius: 2px;
	cursor: pointer;
	transition: all 0.5s ease;
	color: white;
}
.btn:hover {
	color: #f69515;
	border: white;
	background: white;
	box-shadow: 0px 0px 4px 1px rgba(34, 60, 80, 1);
}
.btn:active {
	box-shadow: none;
}
._plus::before {
	content: "+";
}
._minus::before {
	content: "-";
}
.count__dish_txt {
	width: 20px;
	text-align: center;
	border: none;
}
.order__btn,
.check__body_dish {
	display: flex;
	justify-content: center;
	gap: 10px;
}
._big {
	max-width: 150px;
	padding: 3px 10px;
}
._small {
	width: 20px;
	height: 20px;
}
select {
	cursor: pointer;
	border: none;
}
.popup {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
	position: absolute;
	display: none;
	background: #f5f3f3e0;
}
